{% extends 'base.html' %}
{% block library %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<form action="" method="post">
{% csrf_token %}

    <div class="row" style="border-left: 10px; background-image: url('{{cover}}'); background-repeat: no-repeat; background-size: auto;">
    <div class="col-sm-8"></div>
    <div class="col-sm-4">
          <div class="card" style="width: 18rem;display: block;margin: auto;">
          <div class="card-body">
            <div class="col">
            </div>
            <div class="col">
                <h4 class="card-title">{{title}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">Gatunek : {{genres}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">Premiera: {{release_world}}</h6>
                <p class="card-text" style="width:200px; height:285px;"><img src="{{poster_url}}" alt="{{poster_alt}}"></p>
                <a href="#" class="card-link">
                    <button type="submit" value="NewMovie"    name="movie" class="btn btn-primary" onclick="normal()">Losuj dalej
                </button></a>
            </div>
          </div>
          </div>
    </div>


    </div>





</form>
{% endblock %}